.container {
  margin: 0 auto;
  max-width: 400px;
  min-width: 320px;
  /* min-height: 400px; */
  height: 100%;
}

.avatar_container {
  padding-inline: 2rem;
  display: flex;
  justify-content: flex-end;
  color: var(--accent);
  align-items: center;
}

.mainAvatar {
  border-radius: 50%;
  border: 2px solid #fff !important;
}

.chat_window {
  /* border: 1px solid green; */
  height: calc(100% - 150px);
  margin-top: -2rem;
  padding-top: 2rem;
  min-height: 180px;
  overflow: auto;
  background-color: #f9f9f9;
  border-radius: 5px 5px 0 0;
}

.output {
  background-color: lightblue;
}

.output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

.feedback {
  color: var(--accent);
  background-color: rgb(243, 222, 222);
}

.output strong {
  color: #770454;
}

.container label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

.container input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Poppins;
  font-size: 16px;
}

.container button {
  background: #000000;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 430px) {
  .container button,
  .chat_window,
  .container {
    width: 100%;
    max-width: 430px;
    border-radius: 0 0 0 0;
  }
}
