.container {
  margin: 0 auto;
  max-width: 400px;
  min-width: 320px;
}

.avatar_container {
  padding-inline: 2rem;
  display: flex;
  justify-content: flex-end;
  color: var(--accent);
  align-items: center;
}

.mainAvatar {
  border-radius: 50%;
  border: 2px solid #fff !important;
}

.chat_container {
  margin-top: -2rem;
  padding-top: 3rem;
  background-image: url('../public/bg.jpg');
  background-size: cover;
  border-radius: 15px 15px 0 0;
  height: calc(100vh - 280px);
  min-height: 180px;
}

.chat_window {
  padding: 1rem;
  height: 100%;
  overflow: auto;
}

.chat_window::-webkit-scrollbar {
  height: 10px;
  width: 8px;
}
.chat_window::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #aaa;
  border: 3px solid var(--primary);
}
.chat_window::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.chat_window::-webkit-scrollbar-track {
  background-color: var(--primary);
}

.feedback {
  color: #555;
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.messageSpacer {
  min-height: 0.5rem;
}

.container input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #ccc;
  border: 1px solid #eee;
  outline: none;
  display: block;
  width: 100%;
  background: #eee;
  font-size: 16px;
}

.container input:hover,
.container input:focus {
  background-color: #fff;
}

.container button {
  background: #000000;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  position: relative;
  border-radius: 0 0 15px 15px;
}

@media screen and (max-width: 430px) {
  .container,
  .chat_container,
  .container button,
  .chat_window {
    width: 100%;
    max-width: 430px;
    border-radius: 0 0 0 0;
  }

  .container {
    margin-top: -3.6rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
  }

  .avatar_container {
    padding: 0;
    justify-content: center;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    z-index: 10;
  }
}
